@import "~antd/dist/antd.css";

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  background-color: #d9f9fc;
  overflow: hidden;
  align-items: center;
  justify-items: center;
  padding: 10px;
  border: 2px solid #10e4e8;
  margin-right: 20px;
}

.temp {
  grid-area: 1 / 1 / 4 / 4;
}
.feelsLike {
  grid-area: 4 / 1 / 5 / 4;
  display: flex;
  align-items: center;
}
.condition {
  grid-area: 5 / 1 / 7 / 4;
}
.coords {
  grid-area: 7 / 1 / 8 / 4;
  justify-self: start;
}
.windSpeed {
  grid-area: 1 / 5 / 2 / 6;
  justify-self: start;
}
.pressure {
  grid-area: 2 / 5 / 3 / 6;
  justify-self: start;
}
.humidity {
  grid-area: 3 / 5 / 4 / 6;
  justify-self: start;
}
.city {
  grid-area: 7 / 4 / 8 / 5;
}
.time {
  grid-area: 7 / 5 / 8 / 6;
}
